<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<p>
  <%= image_tag(@post.avatar.url)%>
</p>
<p><strong>Comments</strong></p>
 <% if !@comments.nil? %>
 	<% @comments.each do |comment| %>
 		<%= comment.name %><br/>
 		<%= comment.comment %><br/>
 	<% end %>
 <% end %>
 <br/>
<%= form_for(@comment) do |f| %>
	<%= hidden_field_tag "id", @post.id %>
   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
